<?php
/**
 * @var \Magenest\TestFresher\Block\Widget\ProductSlider $block
 */
    $products = $block->getProducts();
?>

<style>
    .slick-next {
        font-size: 0;
        position: absolute;
        bottom: 80px;
        color: #d5122f;
        border: 0;
        background: none;
        z-index: 1;
    }

    .slick-next {
        right: 1rem;
        text-align: right;
        top:5px;
        background-color: transparent!important;
        border: none!important;
    }

    .slick-next:after {
        content: ">";
        font: 38px/1 'FontAwesome';
        background: #464545;
        border-radius: 50%;
        padding: 0.3rem 1rem;
        font-weight: 900;
        color: white;
    }

    .slick-next:hover:after {
        color: whitesmoke;
    }
    .product-item{
        padding: 0rem 2rem;
    }
    .product-name{
        margin: 0px;
    }
    .product-price:{
        margin: 0px;
    }
</style>


<div style="width: 100%; display: flex">
    <div style="width: 60%">
        <img style="width: 100%;margin-top: 1.2rem;" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg">
    </div>
    <div style="width: 40%" class="slider demo">
        <?php foreach ($products as $product): ?>
            <div class="product-item">
                <div style="text-align: center">
                    <img src="<?php echo $block->getPriceAndImage($product['entity_id'])['image']; ?>">
                    <p class="product-name"><?php echo $product['sku'];?></p>
                    <p class="product-price"><?php echo $block->getPriceAndImage($product['entity_id'])['price']; ?></p>
                </div>
            </div>
        <?php endforeach; ?>
    </div>
</div>




<script>
    require(['jquery','slick'],function($){
        $(document).ready(function(){
            $('.demo').slick({
                infinite: true,
                slidesToShow: 2,
                slidesToScroll: 3,
                prevArrow:'',
                rows:2
            });
        });
    })
</script>

